@model PinterestApp.Models.Board

<h2>Profil @ViewBag.Username</h2>

<br />
<br />
@foreach (PinterestApp.Models.Board board in ViewBag.Boards)
{
    @foreach (SavedBookmark savedBookmark in board.SavedBookmarks)
    {
        <div class="card">

            <div class="card-body">

                <div class="card-text" id="media-content">@Html.Raw(savedBookmark.Bookmark.MediaContent)</div>

                <h3 class="card-title alert-primary py-3 px-3 rounded-2">@savedBookmark.Bookmark.Title</h3>

                <div class="card-text">@savedBookmark.Bookmark.Description</div>

                <div class="d-flex justify-content-between flex-row mt-5">

                    <a class="btn btn-primary" href="/Bookmarks/Show/@savedBookmark.Bookmark.Id">Afisare bookmark</a>

                    <span class="alert-primary px-1 align-content-center">@savedBookmark.Bookmark.Date</span>

                    <span class="alert-primary px-1 align-content-center">@savedBookmark.Bookmark.User.UserName</span>

                </div>

            </div>

            <span class="alert-primary px-1 align-content-center">@savedBookmark.SavingDate</span>

            <br />
        </div>
    }
}